
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPayingLabel">Create or edit a Paying</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.paying.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.paying.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_price">Price</label>
            <input type="text" class="form-control" name="price" id="field_price"
                    ng-model="vm.paying.price"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_priceWithVAT">Price With VAT</label>
            <input type="text" class="form-control" name="priceWithVAT" id="field_priceWithVAT"
                    ng-model="vm.paying.priceWithVAT"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_phuongThucThanhToan">Phuong Thuc Thanh Toan</label>
            <input type="text" class="form-control" name="phuongThucThanhToan" id="field_phuongThucThanhToan"
                    ng-model="vm.paying.phuongThucThanhToan"
                    ng-maxlength="100" />
            <div ng-show="editForm.phuongThucThanhToan.$invalid">
                <p class="help-block"
                    ng-show="editForm.phuongThucThanhToan.$error.maxlength">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_hoten">Hoten</label>
            <input type="text" class="form-control" name="hoten" id="field_hoten"
                    ng-model="vm.paying.hoten"
                    ng-maxlength="100" />
            <div ng-show="editForm.hoten.$invalid">
                <p class="help-block"
                    ng-show="editForm.hoten.$error.maxlength">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.paying.email"
                    ng-maxlength="100" />
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.maxlength">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_diaChi">Dia Chi</label>
            <input type="text" class="form-control" name="diaChi" id="field_diaChi"
                    ng-model="vm.paying.diaChi"
                    ng-maxlength="150" />
            <div ng-show="editForm.diaChi.$invalid">
                <p class="help-block"
                    ng-show="editForm.diaChi.$error.maxlength">
                    This field cannot be longer than 150 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_chiTietGiaoDich">Chi Tiet Giao Dich</label>
            <input type="text" class="form-control" name="chiTietGiaoDich" id="field_chiTietGiaoDich"
                    ng-model="vm.paying.chiTietGiaoDich"
                    ng-maxlength="3000" />
            <div ng-show="editForm.chiTietGiaoDich.$invalid">
                <p class="help-block"
                    ng-show="editForm.chiTietGiaoDich.$error.maxlength">
                    This field cannot be longer than 3000 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
