<div>

    <jhi-alert></jhi-alert>

    <div class="container">
        <div class="row">
            <div ng-repeat="book in vm.books track by book.id">
              <div class="col-md-3">
                <!-- <td><a ui-sref="book-detail({id:book.id})">{{book.id}}</a></td>
                <div>{{book.tenSach}}</div>
                <div>{{book.trangThaiConHang}}</div>
                <div>{{book.tomTat}}</div>
                <!-- <div>{{book.rating}}</div> -->
                <!-- <div>{{book.anhDaiDien}}</div> -->
                <!-- <div>{{book.tag}}</div>
                <div>{{book.giaCu}}</div>
                <div>{{book.giaMoi}}</div> -->

  <div>
    <div class="thumbnail">
      <img ng-src="{{book.anhDaiDien}}" alt="...">
      <div class="caption" style="text-align: center">
        <p>{{book.tenSach}}</p>
        <p>{{book.tenTacgia}}</p>
        <p style="text-decoration: line-through;">Gia cu : {{book.giaCu}}</p>
        <p>Gia moi : {{book.giaMoi}}</p>
        <p><a href="#" class="btn btn-primary" role="button">mua</a><a type="button" href="#/book/{{book.id}}" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-xs hidden-sm"> Chi tiet</span>
        </a></p>
      </div>
    </div>
  </div>
</div>
                <!-- <div>{{book.tacGia}}</div> -->
                <!-- <div>{{book.namXuatBan}}</div> -->
                <!-- <div>{{book.nhaXuatBan}}</div> -->
                <!--  -->


                          <!-- <div class="col-md-3">
                                <div class="card hoverable">
                                  <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src={{book.anhDaiDien}}>
                                  </div>
                                  <div class="card-content">
                                    <div>{{book.rating}}</div>
                                  </div>
                                  <div class="card-content">
                                    <a href="ChiTietSach.html"><span class="card-title activator grey-text text-darken-4">{{book.tenSach}}
                                      <!-- <i class="material-icons right">more_vert</i> -->
                                    <!-- </span></a>
                                    <p><a href="#/author/{{book.tacGia}}"></a>{{book.tenTacgia}}</p>
                                  </div>
                                  <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{book.tomTat}}<i class="material-icons right">close</i></span>
                                    <p>{{book.tenSach}}/p>
                                    <p>{{book.tenTacgia}}</p>
                                    <p>{{book.namXuatBan}}</p>
                                    <p>{{book.nhaXuatBan}}</p>
                                    <p>{{book.tag}}</p>
                                  </div>
                                </div> -->

                          <!-- <button type="button" href="#/book/addtocart/{id:book.id}" class="btn btn-primary">
                              <span class="glyphicon glyphicon-pencil"></span>
                              <span class="hidden-xs hidden-sm"> Add</span>
                          </button> -->
                          <!-- <a type="button" href="#/book/{{book.id}}" class="btn btn-primary">
                              <span class="glyphicon glyphicon-pencil"></span>
                              <span class="hidden-xs hidden-sm"> Chi tiet</span>
                          </a> -->



                     <!-- <td class="text-right"> -->
                         <!-- <div class="btn-group flex-btn-group-container">
                             <button type="submit"
                                     ui-sref="book-detail({id:book.id})"
                                     class="btn btn-info btn-sm">
                                 <span class="glyphicon glyphicon-eye-open"></span>
                                 <span class="hidden-xs hidden-sm"></span>
                             </button>
                             <button type="submit"
                                     ui-sref="book.edit({id:book.id})"
                                     class="btn btn-primary btn-sm">
                                 <span class="glyphicon glyphicon-pencil"></span>
                                 <span class="hidden-xs hidden-sm"></span>
                             </button>
                             <button type="submit"
                                     ui-sref="book.delete({id:book.id})"
                                     class="btn btn-danger btn-sm">
                                 <span class="glyphicon glyphicon-remove-circle"></span>
                                 <span class="hidden-xs hidden-sm"></span>
                             </button>
                         </div> -->
                     <!-- </td> -->

                <!--  -->
              </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div> -->
</div>
