<div>
    <h2>Books</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="book.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Book
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tenSach"><span>Ten Sach</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="trangThaiConHang"><span>Trang Thai Con Hang</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tacGia"><span>Tac Gia</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tomTat"><span>Tom Tat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="giaCu"><span>Gia Cu</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="giaMoi"><span>Gia Moi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rating"><span>Rating</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="anhDaiDien"><span>Anh Dai Dien</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tag"><span>Tag</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in vm.books track by book.id">
                    <td><a ui-sref="book-detail({id:book.id})">{{book.id}}</a></td>
                    <td>{{book.tenSach}}</td>
                    <td>{{book.trangThaiConHang}}</td>
                    <td>{{book.tacGia}}</td>
                    <td>{{book.tomTat}}</td>
                    <td>{{book.giaCu}}</td>
                    <td>{{book.giaMoi}}</td>
                    <td>{{book.rating}}</td>
                    <td>{{book.anhDaiDien}}</td>
                    <td>{{book.tag}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="book-detail({id:book.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="book.edit({id:book.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="book.delete({id:book.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
