<div>

    <jhi-alert></jhi-alert>

    <div class="container">
        <div class="row">
            <div ng-repeat="book in vm.books track by book.id">
              <div class="col-md-3">


  <div>
    <div class="thumbnail">
      <img ng-src="{{book.anhDaiDien}}" alt="...">
      <div class="caption" style="text-align: center">
        <p>{{book.tenSach}}</p>
        <p>{{book.tenTacgia}}</p>
        <p style="text-decoration: line-through;">Gia cu : {{book.giaCu}}</p>
        <p>Gia moi : {{book.giaMoi}}</p>
        <p><a href="#" class="btn btn-primary" role="button">mua</a><a type="button" href="#/book/{{book.id}}" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-xs hidden-sm"> Chi tiet</span>
        </a></p>
      </div>
    </div>
  </div>
</div>

              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
</div>
