<div>
<div >

    <jhi-alert></jhi-alert>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" style="height: 260px">
        <div class="item active">
          <center>
            <img class = "img-responsive" ng-src="http://chilinhkgcc.weebly.com/uploads/4/0/8/8/4088787/7496282.jpeg" alt="..." style="text-align:center">
          </center>
        </div>
        <div class="item" style="height: 260px">
          <center>
          <img class = "img-responsive" ng-src="http://chilinhkgcc.weebly.com/uploads/4/0/8/8/4088787/7496282.jpeg" alt="...">
        </center>
        </div>
        <div class="item" style="height: 260px">
          <center>
          <img class = "img-responsive" ng-src="http://chilinhkgcc.weebly.com/uploads/4/0/8/8/4088787/7496282.jpeg" alt="...">
        </center>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <br>
    <br>
    <div class="container">
        <div>
            <hr>
            <h3>Sach moi </h3>
            <hr>
        </div>
        <div class="row">
            <div ng-repeat="book in vm.books track by book.id">
              <div class="col-md-3">
                <!-- <td><a ui-sref="book-detail({id:book.id})">{{book.id}}</a></td>
                <div>{{book.tenSach}}</div>
                <div>{{book.trangThaiConHang}}</div>
                <div>{{book.tomTat}}</div>
                <!-- <div>{{book.rating}}</div> -->
                <!-- <div>{{book.anhDaiDien}}</div> -->
                <!-- <div>{{book.tag}}</div>
                <div>{{book.giaCu}}</div>
                <div>{{book.giaMoi}}</div> -->

  <div>
    <div class="thumbnail">
      <img class = "img-responsive" ng-src="{{book.anhDaiDien}}" alt="...">
      <div class="caption" style="text-align: center">
        <p>{{book.tenSach}}</p>
        <p>Tác giả: {{book.tenTacgia}}</p>
        <p style="text-decoration: line-through;">Giá : {{book.giaCu}}</p>
        <p>Giá khuyến mại : {{book.giaMoi}}</p>
        <p>
          <!-- <a href="#" class="btn btn-primary" role="button">mua</a> -->
          <a type="button" href="#/book/{{book.id}}" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-xs hidden-sm"> Chi tiết</span>
        </a></p>
      </div>
    </div>
  </div>
              </div>

              </div>
            </div>
        </div>
    </div>
    <div >
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
</div>
