<div>
    <!-- <h2>Authors</h2> -->
    <!-- <jhi-alert></jhi-ale rt> -->
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="author.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Author
                    </span>
                </button>
            </div>
        </div>
    </div> -->
    <br/>
    <!-- <div class="table-responsive"> -->
        <div class="jh-table table table-striped">

            <div class="row">
                <div class="col s10 offset-s1">
                   <div class="row">
                <div ng-repeat="author in vm.authors track by author.id">
                  <div style="background-color:green">
                    <div><a ui-sref="author-detail({id:author.id})">id: {{author.id}}</a></div>
                    <div>ten: {{author.tenTacgia}}</div>
                    <div>{{author.introduce}}</div>
                        <div>{{author.ngaySinh | date:'mediumDate'}}</div>
                    <td class="text-right">

                    </td>
                  </div>
                  
                </div>

        </div>
    <!-- </div> -->
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
