<div class="container">
    <!-- <h2>Authors</h2> -->
    <!-- <jhi-alert></jhi-ale rt> -->
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="author.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Author
                    </span>
                </button>
            </div>
        </div>
    </div> -->
    <!-- <div class="table-responsive"> -->
    <div class="">
        <hr>
        <h2>Tac gia</h2>
        <hr>
    </div>
        <div class="row">
                <div ng-repeat="author in vm.authors track by author.id">
                    <div class="col-md-3">

                            <!-- <div><a ui-sref="author-detail({id:author.id})">id: {{author.id}}</a></div>
                            <div>ten: {{author.tenTacgia}}</div>
                            <div>{{author.introduce}}</div>
                            <div>{{author.ngaySinh | date:'mediumDate'}}</div> -->


                        <div>
                          <div class="thumbnail">
                            <img ng-src="http://kenh14cdn.com/thumb_w/600/67243c14c0/2015/09/25/150925starbeauty16-a8370.jpg" alt="...">
                            <div class="caption" style="text-align: center">
                              <p ><a style="text-decoration: none" ui-sref="author-detail({id:author.id})">{{author.tenTacgia}}</a></p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

        </div>
    <!-- </div> -->
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
